
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReadNews</title>
</head>
<body>
    <div> 
        doc tin tuc
    </div>
</body>
</html>
