
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        * {
            padding: 0px;
            margin: 0 auto
        }
        body {
            width: 100%;

        }
    </style>
</head>
<body>
    @* Menu *@
    <ul>
        <li><a href="~/Home/index ">Trang Chu</a></li>
        <li><a href="~/Home/GioiThieu ">Gioi Thieu</a></li>
        <li><a href="~/TinTuc/ListNews ">Tin Tuc</a></li>
    </ul> 

    <div> 
        Home Page!
    </div>
</body>
</html>
